body{
    /* margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; */
    height: 100vh;
}

#app, .bg,.question{ 
    height: 100%;
}

.questionnaire{
    display: flex;
    width: 100%;
    height: 70%;

}   

h3{
    font-size: 2em;
    font-weight: bold;
    margin: 10px;

}

.bg{
    background-color: grey;
}

.titre{
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: #ffeebb;
    border : 1px solid #eebb55;
}

.titre:hover{
    background-color: #dddd88;
}


.questionnaire{
    display: flex;
    margin: 2vh 1vw ;
}

.titre>h1{
    font-size: 3em;
}
.quizz{
    background-color: #ccccff;
    border: 1px solid #8888bb;
    padding: 20px;
    border-radius: 10px;
    width: fit-content;
    overflow-y:auto;    
}

.quizz:hover{
    background-color: #ccccffcd;
}
.question{
    background-color: #dddd88;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #cccc33;
    width: 100%;


}

.quizz:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}

.rect{
    /* background-color: red; */
}

.rect:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.backgroundColor{
    background-color: #ffccff;
    border: 1px solid #ff99ff;
}


.list-quiz{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.choose-quiz:hover{
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 5px;
    transform: scale(1.05);
    transition: all 0.3s;
    width: 70%;
    color: black;
    font-weight: bold;
}

.choose-quiz{
    background-color: transparent;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #d6d3d3f8;
    opacity: 0.4;

}

.choose-quiz>span{
    font-size: 1.2em;
    color: black;
}

input[type=text] {
	appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid #E91E63;
	background: rgba(#E91E63, .2);
	border-radius: .2em .2em 0 0;
	padding: .4em;
	color: #E91E63;
}

.error{
    color: red;
    font-size: 1.2em;
    font-weight: bold;
}   